<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Contact list", root_path, class:"nav-link" %>
                </li>
                <% if !user_signed_in?  %>
                    <li class="nav-item">
                        <%= link_to  "Nova conta", new_user_path, class:"nav-link" %>
                    </li>
                <% end %>
                
            </ul>
            <div>
                <% if !user_signed_in?  %>
                    <%= link_to  "Entrar", entrar_path %>
                <% else %>
                    Bem vindo <%= current_user.name %>
                        <p>
                            <%= link_to  "Minha página", current_user %>
                        </p>
                        <p>
                            <%= link_to  "Editar", '#' %>
                        </p>
                        <li class="divider" role="separator">
                        <p>
                            <%= link_to "Sair", sair_path, method: :delete %>
                        </p>
                <% end %>
            </div>
        </div>
    </div>
</nav>